# Windows
Thumbs.db

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Android
.gradle/
.navigation/
bin/
build/
captures/
gen/
libs/
obj/
out/
proguard/
*.apk
*.ap_
*.dex
*.class
.externalNativeBuild
.idea/workspace.xml
.idea/libraries
*.iml
*.jks
*.log

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags
